legacy-peer-deps=true
registry=https://registry.npmjs.org/
@flexgen:registry=https://flexgenpower.jfrog.io/artifactory/api/npm/flexgen-npm/
//flexgenpower.jfrog.io/artifactory/api/npm/flexgen-npm/:_auth=${NODE_AUTH_TOKEN}
//flexgenpower.jfrog.io/artifactory/api/npm/flexgen-npm/:always-auth=true
//flexgenpower.jfrog.io/artifactory/api/npm/flexgen-npm/:email=devops@flexgen.com
